.user-profile {
  background-color: #242424;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.options a {
  width: 170px;
  padding-block: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  transition: 285ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options a:nth-child(1) {
  background-color: #f00;
}

.options a:nth-child(2) {
  background-color: #f00;
  margin-left: 5px;
}

.options button:hover, .options a:hover {
  transition: 285ms ease-in-out;
  opacity: 0.7;
}